{{define "title"}}Contact{{end}}

{{define "main"}}
<h1 class="heading">Contact</h1>
<hr />
<h2 class="contact">Email</h2>
<p class="contact">jeffreywoods at jwoods.dev</p>

<figure>
    <a href="/static/files/woods_jeffrey.pdf" download>
        <img src="/static/img/dl.svg" alt="Download icon" width="384" height="512" id="download">
    </a>
    <figcaption>Download Resume</figcaption>
</figure>
{{end}}