{{define "title"}}Experience{{end}}

{{define "main"}}
<h1 class="heading">Experience </h1>
<hr />
<section class="card">
    <h2 class="card-title">AI Engineer <span class="card-description">- UVU</span></h2>
    <p class="card-subtitle">2023 - Present</p>
    <div class="card-content">
        <p class="card-text">
            I started as a student web developer, hoping to 
            learn under the mentorship of a team of contractors 
            that the university had hired. It didn't go as planned with the contractors, 
            and this led to the incredible opportunity to greenfield 
            the entire AI tutor project on my own.
        </p>
    </div>
</section>
<section class="card">
    <h2 class="card-title">Software Intern <span class="card-description">- Breeze</span></h2>
    <p class="card-subtitle">2022</p>
    <div class="card-content">
        <p class="card-text">
            Breeze Airways is a young airline started around 2020. 
            I wrote the gate information display (arrival, departure, destination, etc.) 
            in Angular using NgRx right before the company switched to React.
        </p>
    </div>
</section>
<section class="card">
    <h2 class="card-title">Fullstack Intern <span class="card-description">- Arivo</span></h2>
    <p class="card-subtitle">2021</p>
    <div class="card-content">
        <p class="card-text">
            Arivo is the FinTech arm of Ken Garff Auto, a major dealership 
            in Utah. I worked on loan application software with 
            the goal of getting the application process down to 30 seconds. 
            We were pretty close by the time the internship ended.
        </p>
    </div>
</section>
{{end}}