{{define "title"}}Home{{end}}

{{define "main"}}
<ul>
    <li><a href="/projects">Projects <span>></span></a></li>
    <li><a href="/experience">Experience <span>></span></a></li>
    <li><a href="/contact">Contact <span>></span></a></li>
</ul>
{{end}}