{{define "title"}}Home{{end}}

{{define "main"}}
<ul>
    <a href="/projects"><li>Projects <span>></span></li></a>
    <a href="/experience"><li>Experience <span>></span></li></a>
    <a href="/contact"><li>Contact <span>></span></li></a>
</ul>
{{end}}