{{define "title"}}Projects{{end}}

{{define "main"}}
<h1 class="heading">Projects</h1>
<hr />
<section class="card">
    <h2 class="card-title">Ava <span class="card-description">- AI Tutor</span></h2>
    <div class="card-content">
        <p class="card-text">
            I'm currently building an AI-powered tutor at Utah Valley University. 
            The idea is to help students use LLMs as a tool instead of a crutch 
            by providing them with a well-trained instance of ChatGPT. Tech stack: 
            Go, GPT-4, Postgres. <a href="/static/img/ava/demo.mov"><u><b>Click here for a short demo video</b></u></a>
        </p>
        <img
            class="card-img"
            srcset="/static/img/ava/ava-400w.avif 400w, /static/img/ava/ava-600w.avif 600w, /static/img/ava/ava-750w.avif 750w"
            sizes="(max-width: 400px) 400px, (max-width: 600px) 600px, (min-width: 601px) 750px"
            src="/static/img/ava/ava.png"
            alt="UI for Ava"
            width="750"
            height="1334"
        >
    </div>
</section>
<section class="card">
    <h2 class="card-title">Dash <span class="card-description">- Player Dashboard</span></h2>
    <div class="card-content">
        <p class="card-text">
            Allows members of my Minecraft server to see who's online and where; 
            the live map displays the entire (known) world in a browser. Tech stack: 
            Go, WebCraftAPI, Dynmap. To do: Private chats, teleport to friends.
        </p>
        <img
            class="card-img"
            srcset="/static/img/mc/mc-400w.avif 400w, /static/img/mc/mc-600w.avif 600w, /static/img/mc/mc-750w.avif 750w"
            sizes="(max-width: 400px) 400px, (max-width: 600px) 600px, (min-width: 601px) 750px"
            src="/static/img/mc/mc.png"
            alt="UI for dashboard"
            width="750"
            height="1334"
        >
    </div>
</section>
<section class="card">
    <h2 class="card-title">Jeep Cherokee <span class="card-description">- 2001</span></h2>
    <div class="card-content">
        <p class="card-text">
            The 2001 Cherokee is the most versatile vehicle I have 
            ever driven. It can climb any mountain, 
            carry any load in the spacious trunk, and transport 4 people 
            in surprising comfort (5 if the rear passengers are small). 
            I'm gradually building my Jeep out to be the ultimate adventure rig, 
            with HQ audio and more capable overlanding tires.
        </p>
        <img
            class="card-img"
            srcset="/static/img/jeep/jeep-400w.avif 400w, /static/img/jeep/jeep-600w.avif 600w, /static/img/jeep/jeep-800w.avif 800w, /static/img/jeep/jeep-1000w.avif 1000w, /static/img/jeep/jeep-1200w.avif 1200w, /static/img/jeep/jeep-1600w.avif 1600w, /static/img/jeep/jeep-2000w.avif 2000w, /static/img/jeep/jeep-4032w.avif 4032w"
            sizes="(max-width: 400px) 400px, (max-width: 600px) 600px, (max-width: 800px) 800px, (max-width: 1000px) 1000px, (max-width: 1200px) 1200px, (max-width: 1600px) 1600px, (max-width: 2000px) 2000px, (min-width: 2001px) 4032px"
            src="/static/img/jeep/jeep.png"
            alt="2001 Cherokee"
            width="4032"
            height="3024"
        >
    </div>
</section>
{{end}}