{{define "title"}}Projects{{end}}

{{define "main"}}
<h1 class="heading">Projects</h1>
<hr />
<section class="card">
    <h2 class="card-title">Ava <span class="card-description">- AI Tutor</span></h2>
    <div class="card-content">
        <p class="card-text">
            I'm currently building an AI-powered tutor at Utah Valley University. 
            The idea is to help students use LLMs as a tool instead of a crutch. 
            Tech stack: Go, GPT-4, Postgres.
        </p>
        <img class="card-img" src="/static/img/ava/ava.png" alt="Ava chatbot helping student" width="750" height="1334">
    </div>
</section>
<section class="card">
    <h2 class="card-title">MC Dash <span class="card-description">- Player Dashboard</span></h2>
    <div class="card-content">
        <p class="card-text">
            Allows members of my Minecraft server to see who's online and where; 
            the live map displays the entire (known) world in a browser. Tech stack: 
            SvelteKit, WebCraftAPI, Dynmap.
        </p>
        <img class="card-img" src="/static/img/mc/mc.png" alt="UI for dashboard" width="750" height="1334">
    </div>
</section>
<section class="card">
    <h2 class="card-title">Jeep Cherokee <span class="card-description">- 2001</span></h2>
    <div class="card-content">
        <p class="card-text">
            The 2001 Cherokee is the most versatile vehicle I have 
            ever driven in my car-loving life. It can climb any mountain, 
            carry any load in the spacious trunk, and transport 4 people 
            in surprising comfort (5 if the rear passengers are small). 
            I'm gradually building my Jeep out to be the ultimate adventure rig, 
            with HQ audio and more capable overlaning tires.
        </p>
        <img class="card-img" src="/static/img/jeep/jeep.png" alt="2001 Cherokee" width="4032" height="3024">
    </div>
</section>
{{end}}