{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Real Ones Only">
    <meta property="og:image" content="/static/img/bad-omen.webp">
    <meta property="og:description" content="Player dashboard for the Real Ones Only Minecraft server">
    <meta property="og:url" content="https://jwoods.dev/dash">
    <meta property="og:type" content="website">
    <title>Real Ones Only</title>
</head>
<body>
    {{template "main" .}}
</body>
</html>
{{end}}