@font-face {
	font-family: 'Minecraft';
	src: url('/src/lib/fonts/minecraft.woff');
}

html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	overscroll-behavior: none;
}

body {
	background-color: #926C4D;
	background-image: url('/src/lib/images/dirt.webp');
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Minecraft', serif;
}
