@font-face {
    font-family: "Roboto-Regular";
    src: url("/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
	font-family: 'Minecraft';
	src: url('/fonts/minecraft.woff');
}



html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overscroll-behavior: none;
}

body {
	height: 100vh;
    font-family: 'Roboto-Regular', serif;
	background-image: url('/src/lib/images/dirt.webp');
	background-size: cover;
	background-attachment: fixed;
}

.mc-font {
    font-family: 'Minecraft', serif;
}
